body {background-color: #8e8ee8;} /*background collor*/

ul { /*css for menu*/
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  position: sticky;
  top: 0; 
}

ul li { /*the blocks with links*/
  float: left;
}

ul li a { /*inside the blocks*/
  display: block;
  color: white;
  text-align: center; 
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover { /*hover, when going over the blocks the color*/
  background-color: #f40909;
}

ul li a.active { /*the active one, the page where you're on the color*/
  background-color: #2b00ff;
}

a .link {
  color: rgb(21, 0, 255);
  background-color: transparent;
  text-decoration:underline;}

a:visited .link {
  color: rgb(21, 0, 255);
  background-color: transparent;
  text-decoration: underline;
}
a:hover.link {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

p.Tekst {
  border: 2px solid black;
  border-radius: 12px;
  padding: 5px;
  margin-right: 30%;
}

footer {
  background-color: rgb(204, 0, 255);
  padding: 5px;
  text-align: center;
  color: rgb(0, 0, 255);
}

div {
  float: right;
  margin-left: 15px;
}

.hover-image {
  width: 540px;                 /* Beginbreedte van de afbeelding. */
  transition: transform 0.3s ease; /* Vloeiende overgang bij hover. */
  margin-left: 30px; /*Dit zorgt ervoor dat de afbeelding 20px van de rand zit. */
}

.hover-image:hover {
  transform: scale(1.2);       /* Vergroot de afbeelding met 20%. */
}