body {background-color: #8e8ee8;} /*background collor*/

ul { /*css for menu*/
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    position: sticky;
    top: 0; 
}

ul li { /*the blocks with links*/
    float: left;
}

ul li a { /*inside the blocks*/
    display: block;
    color: white;
    text-align: center; 
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover { /*hover, when going over the blocks the color*/
  background-color: #f40909;
}

ul li a.active { /*the active one, the page where you're on the color*/
  background-color: #2b00ff;
}

a .link {
  color: rgb(21, 0, 255);
  background-color: transparent;
  text-decoration:underline;}

  a:visited .link {
  color: rgb(21, 0, 255);
  background-color: transparent;
  text-decoration: none;
}
a:hover .link {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}