body {background-color: #8080ff;} /*background collor*/

ul { 
    list-style-type: none;
    margin: 0 px;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    position: sticky;
    top: 0; 
}

ul li {
    float: left;
    border-right: 1 px solid rgb(255, 255, 255);
}

ul li a {
    display: block;
    color: white;
    text-align: center; 
    padding: 14 px 16 px;
    text-decoration: none;
}

ul li a:hover {
  background-color: #f40909;
}

ul li a.active {
  background-color: #2b00ff;
}