body {background-color: #8080ff;}

ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover :not(.active){
  background-color: rgb(153,0,102); }

ul li a.active {
    background-color: rgb(255,0,0);
}